h1 {

    position: absolute;
    height: 64px;
width: 789px;
left: 235px;
top: 87px;
border-radius: nullpx;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 64px;
/* identical to box height */

letter-spacing: 0.02em;

color: #0B0A05;
}


.zah  {

position: absolute;
    width: 789px;
    height: 96px;
    left: 230px;
    top: 200px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    letter-spacing: 0.04em;
    
    color: #0B0A05;
    

}
.jj {

    position: absolute;
width: 789px;
height: 40px;
left: 235px;
top: 360px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 43px;
letter-spacing: 0.02em;

color: #0B0A05;

}

.kk {

    position: absolute;
width: 789px;
height: 96px;
left: 235px;
top: 416px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.04em;

color: #0B0A05;

}


.ll {

    position: absolute;
width: 789px;
height: 44px;
left: 235px;
top: 544px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 43px;
letter-spacing: 0.02em;

color: #0B0A05;
}


.hoh {


  position: absolute;
    width: 789px;
    height: 168px;
    left: 235px;
    top: 604px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    letter-spacing: 0.04em;
    
    color: #0B0A05;
    

}


.ddfj {
position: absolute;
    width: 784px;
height: 44px;

left: 235px;
top: 778px;  

font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.02em;

color: #0B0A05;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.bimk {
position: absolute;
    left: 235px;
top: 840px;  
    width: 785px;
height: 144px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.04em;

color: #0B0A05;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}


.tend {
    position: absolute;
    left: 235px;
  top: 1016px;
    width: 788px;
height: 44px;


font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 43px;
letter-spacing: 0.02em;

color: #0B0A05;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.rer {
position: absolute;
left: 235px;
top: 1076px;
width: 789px;
height: 264px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.04em;

color: #0B0A05;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.yui {
    position: absolute;
width: 789px;
height: 44px;
left: 234px;
top: 1372px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 43px;
letter-spacing: 0.02em;

color: #0B0A05;

}




.gggf {

 
 
position: absolute;
width: 8px;
height: 8px;
left: 234.5px;
top: 1455px;

background: #284ACE;
border-radius: 50%;
}


.daw {

    position: absolute;
width: 766px;
height: 48px;
left: 257.5px;
top: 1432px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.04em;

color: #0B0A05;
}


.ttr {

    position: absolute;
width: 8px;
height: 8px;
left: 234.5px;
top: 1475px;

background: #284ACE;
border-radius: 50%;
}


.lkja {

    position: absolute;
width: 789px;
height: 72px;
left: 234.5px;
top: 1496px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.04em;

color: #0B0A05;
}


.bvcx {

    position: absolute;
width: 790px;
height: 44px;
left: 234px;
top: 1600px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 43px;
letter-spacing: 0.02em;

color: #0B0A05;

}


.dsadd {
    position: absolute;
    left: 235px;
top: 1680px;
    position: absolute;
width: 8px;
height: 8px;

border-radius: 50%;
background: #284ACE;
}

.qqww {
    position: absolute;
width: 765px;
height: 24px;
left: 259px;
top: 1658px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.04em;

color: #0B0A05;
}


.dwaq {
    position: absolute;
    left: 235px;
top: 1700px;
    position: absolute;
width: 8px;
height: 8px;

border-radius: 50%;
background: #284ACE;
}

.rast {

    position: absolute;
width: 765px;
height: 48px;
left: 259px;
top: 1682px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.04em;

color: #0B0A05;
}


.trre {
    position: absolute;
width: 790px;
height: 44px;
left: 234px;
top: 1772px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 43px;
letter-spacing: 0.02em;

color: #0B0A05;
}


.sam {
    position: absolute;
    left: 235px;
top: 1870px;
    position: absolute;
width: 8px;
height: 8px;

border-radius: 50%;
background: #284ACE;
}

.samp {

    position: absolute;
width: 765px;
height: 24px;
left: 259px;
top: 1845px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.04em;

color: #0B0A05;
}

.agg {

    position: absolute;
    left: 235px;
top: 1900px;
    position: absolute;
width: 8px;
height: 8px;

border-radius: 50%;
background: #284ACE;
}

.popp {
    position: absolute;
width: 765px;
height: 24px;
left: 259px;
top: 1880px

}


.www {

    position: absolute;
    left: 235px;
top: 1933px;
    position: absolute;
width: 8px;
height: 8px;

border-radius: 50%;
background: #284ACE;
}



.uzqd {

    position: absolute;
    width: 765px;
    height: 24px;
    left: 259px;
    top: 1913px
}



.mnxeq {

    position: absolute;
width: 790px;
height: 44px;
left: 234px;
top: 1984px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 43px;
letter-spacing: 0.02em;

color: #0B0A05;

}




.gggg {
    position: absolute;
    left: 235px;
top: 2080px;
    position: absolute;
width: 8px;
height: 8px;

border-radius: 50%;
background: #284ACE;
}




.sdsd {
    position: absolute;
    width: 765px;
    height: 24px;
    left: 259px;
    top: 2060px 
}




.gfdg {

    position: absolute;
width: 790px;
height: 44px;
left: 234px;
top: 2100px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 43px;
letter-spacing: 0.02em;

color: #0B0A05;
}


.bnmjgf {
position: absolute;
    left: 234px;
top: 2200px;

}


.fdfdf {

    position: absolute;
width: 297px;
height: 33px;
left: 256px;
top: 3255px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
/* identical to box height */

letter-spacing: 0.04em;

color: #000000;
}


.contaks {

    position: absolute;
width: 269px;
height: 22px;
left: 240px;
top: 3340px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.06em;

color: #000000;

}

